* {margin: 0px;}

/* background */
.fundo {
background-image: url(./background.png);
background-position: top;
position: absolute;
position: fixed;
width: 720px;
height: 780px;
left: 0px;
}

/* logo */
.logo {
position: absolute;
width: 389px;
height: 94px;
left: 30px;
top: 50px;
}

/* atualize ideias e informações em 5 minutos. */
.text {
position: absolute;
width: 566px;
height: 30.44px;
left: 36px;
top: 236px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

/* color Green */
color: #08C05E;
}

/* tudo que você precisa saber para começar seu dia bem e informado */
h2 {
position: absolute;
width: 517px;
height: 16px;
left: 36px;
top: 275px;

font-family: 'Spartan';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;

/* identical to box height */
color: #FFFFFF;
}

/* noticias sobre o universo Rocketseat, e tudo o que precisa para começar o dia melhor. perfeito para se preparar para codar ☕ */
p {
position: absolute;
width: 647px;
height: 38px;
left: 36px;
top: 300px;

font-family: 'Spartan';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

color: #FFFFFF;
}

/* form */
.email {
position: absolute;
width: 798px;
height: 84px;
left: 36px;
top: 388px;
}

/* link */
a {
position: absolute;
width: 196px;
height: 24px;
left: 36px;
top: 522px;
}
